/* 
Site Name: Dottopia
Author: Dottopia Agency
Author URI: https://dottopia.com
Description: Dottopia is a creative agency that specializes in branding, web design, and digital marketing.
Version: 1.0
Text Domain: dottopia
*/