@import url('https://fonts.googleapis.com/css2?family=Hanuman:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

html {
    margin: 0px !important;
    padding: 0px !important;
}

body {
    overflow-x: hidden !important;
    font-family: "Roboto", sans-serif;
}

/* Text Family  */
.hanuman-font {
    font-family: "Hanuman", serif !important;
}

.roboto-font {
    font-family: "Roboto", sans-serif !important;
}


.roadblocks {
    background-image: url('../images/backgrounds/Group.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}


/* Slider Custom Style  */
.swiper-slide-prev,
.swiper-slide-next {
    opacity: 0.5;
    transform: scale(.8);
    width: 20% !important;
}

.swiper-slide-active {
    opacity: 1;
    transform: scale(1.1);
    width: 60% !important;
}


.swiper-wrapper {
    align-items: center !important;
}


.client-carousel-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}
/* infinity gallery slider

.client-carousel-row-1 {
    animation: scroll-left 30s linear infinite;
}

.client-carousel-row-2 {
    animation: scroll-right 30s linear infinite;
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-100%);
    }
}

@keyframes scroll-right {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(0);
    }
} */

/* Glow */

.glow-seo {
    color: transparent;
    -webkit-text-stroke: #b56dff 2px;
    text-shadow: 0 0 100px #b56dff, 0 0 60px #b56dff, 0 0 100px #b56dff;
}

.glow-digital {
    color: transparent;
    -webkit-text-stroke: #FFCE26 2px;
    text-shadow: 0 0 100px #FFCE26, 0 0 60px #FFCE26, 0 0 100px #FFCE26;
}

/* Navigation Styling */
nav {
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Main Navigation */
#menu-primary {
    position: relative;
    top: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    width: 80%;
}

.menu-toggle {
    display: none;
    cursor: pointer;
    font-size: 24px;
}


/* Top-Level Menu Items */
#menu-primary>.menu-item {
    position: relative;
}

#menu-primary>.menu-item>a {
    text-decoration: none;
    color: #333;
    padding: 10px 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
    display: block;
    transition: color 0.3s ease, background 0.3s ease;
}

#menu-primary>.menu-item>a:hover {
    color: #FFCE26;
}

/* Submenu Styles */
.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none;
    min-width: 400px;
    padding: 10px 0;
    z-index: 100;
}

.sub-menu .menu-item {
    display: block;

    padding: 20;
}

.sub-menu .menu-item a {
    padding: 10px 15px;
    white-space: nowrap;
    color: #333;
    transition: transform 0.6s ease, color .8s ease;
    display: block;
    font-size: 18px;
}

.sub-menu .menu-item a:hover {
    transform: translateX(10px);
    color: #FFCE26;
}

.sub-menu .menu-item i,
#menu-primary>.menu-item:last-child a i {
    display: none !important;
}

/* Show Submenu on Hover */
.menu-item-has-children:hover>.sub-menu {
    display: block;
}


/* Mobile Menu */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    #menu-primary {
        flex-direction: column;
        gap: 0;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        transform: translateY(-100%);
        transition: transform 0.5s ease;
        display: none;
    }

    #menu-primary.active {
        display: flex;
        transform: translateY(0);
    }

    .sub-menu {
        position: static;
        opacity: 1;
        transform: translateY(0);
        box-shadow: none;
        display: none;
    }

    .menu-item-has-children:hover>.sub-menu {
        display: block;
    }
}

/* Footer  */

.footer-widget h6 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    font-family: 'Roboto', sans-serif;
}


.footer-widget li {
    text-align: start;
    margin: 10px 0px;
}

.footer-widget li a {
    transition: transform 0.6s ease, color .8s ease;
    display: block;
    font-size: 16px;
}

.footer-widget li a:hover {
    transform: translateX(10px);
    color: #FFCE26;
}

.footer-widget li a i {
    padding: 0 10px;
    margin: 0 10px;
    font-size: 18px;
}

.footer-widget li a span {
    font-weight: 700;
    font-size: 18px;
}

.swiper {
    height: 100% !important;
}

.swiper-slide {
    width: 100% !important;
    height: auto !important;
}


.swiper-pagination-custom {
    width: fit-content !important;
    bottom: 0px !important;
    font-size: 23px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
}


.swiper-button-next,
.swiper-button-prev {
    bottom: 0 !important;
    top: auto !important;
}

.swiper-button-prev {
    left: 85% !important;
}

/* Table of Content */
#ez-toc-container {
    margin: 0 auto !important;
    background-color: transparent;
    border: none;
    box-shadow: none;
    border-right: 2px solid rgba(97, 97, 97, 0.1);
    padding: 0;
}



#ez-toc-container .ez-toc-title-container p.ez-toc-title {
    text-align: center;
    background-color: #FFF5D1;
    padding: 10px;
    display: block;
}

#ez-toc-container nav {
    box-shadow: none;
}

#ez-toc-container nav ul {
    padding: 10px 15px;
    box-shadow: none;
}

#ez-toc-container nav ul li {
    padding: 5px 15px;
    margin: 10px 0;
    text-align: center;
}

#ez-toc-container nav ul li a {
    border-bottom: 2px solid rgba(97, 97, 97, 0.1);
    padding: 10px 0px;
    font-size: 18px;
    font-weight: 400;

}

#ez-toc-container nav ul li a:hover {
    text-decoration: none;
    color: #FFCE26;
}

#ez-toc-container nav ul li a::before {
    display: none;
}

/* Footer  */

.marquee-parent {
    width: 70%;
}

.marquee {
    overflow: hidden;
    display: flex;
}

.marquee p {
    white-space: nowrap;
    text-transform: uppercase ;
    margin: 0 10px;

}


