/* Reset and Basic Styles */
body,
html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Full Page Layout */
.site-header {
    background: #333;
    color: white;
    padding: 15px 0;
    text-align: center;
}

.nav-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.site-content {
    flex: 1;
}

/* Footer at the bottom */
.site-footer {
    position: relative;
    width: 100%;
}


/* Sticky Footer */
html,
body {
    display: flex;
    flex-direction: column;
}

.site-content {
    flex-grow: 1;
}

/* Custom Style  */

.roadblocks {
    background-image: url('../image/background_image/Group.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
}


